### Workspace ###
.idea/
.vscode/
*.iws
*.ipr
*.iml

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Terraform ###
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

### Root environment ###
/.env
/.env.*
!/.env.example
